{% extends 'base.html' %}

{% load static %}

{% block content %}
  <img src={{image}} width="500px">
  <table style="width: 100%;
                padding: 15px;
                text-align: left">
    <tr>
      <td>Image</td>
      <td>Result</td>
      <td>Confidence</td>
    </tr>
    <tr>
      <td>
        {% for item in result %}
            <tr>
                <td style="width: 500px">
                  <img src={{item.path}}>
                </td>
                <td>{{ item.result.text }}</td>
                <td>{{ item.result.confidence_by_field }}</td>
            </tr>
          {% endfor %}
      </td>
    </tr>
  </table>
{% endblock %}