{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h2>List of achieved tasks</h2>
  <table style="width: 100%;
                padding: 15px;
                text-align: left">
      <tr>
        <th>Name</th>
        <th>Result</th>
      </tr>
      <tr>
          {% for task in tasks %}
            <tr>
                <td>
                    <a href="/task_detail/{{ task.id }}">{{ task.job_name }}</a>
                </td>
                <td>{{ task.result }}</td>
            </tr>
          {% endfor %}
      </tr>
  </table>
{% endblock %}